In [35]:
import pandas as pd

# Try reading with a different encoding
try:
    Rajasthan = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18_0800_NIC_FINAL_STATE_RAJASTHAN-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    Rajasthan = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18_0800_NIC_FINAL_STATE_RAJASTHAN-2011.csv", encoding='windows-1252')

In [36]:
import pandas as pd

# Try reading with a different encoding
try:
    arunachal = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18_1200_NIC_FINAL_STATE_ARUNACHAL_PRADESH-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    arunachal = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18_1200_NIC_FINAL_STATE_ARUNACHAL_PRADESH-2011.csv", encoding='windows-1252')

In [38]:
import pandas as pd

# Try reading with a different encoding
try:
    manipur = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18_1400_NIC_FINAL_STATE_MANIPUR-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    manipur = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18_1400_NIC_FINAL_STATE_MANIPUR-2011.csv", encoding='windows-1252')

In [39]:
import pandas as pd

# Try reading with a different encoding
try:
    mizoram = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18_1500_NIC_FINAL_STATE_MIZORAM-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    mizoram = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18_1500_NIC_FINAL_STATE_MIZORAM-2011.csv", encoding='windows-1252')

In [40]:
import pandas as pd

# Try reading with a different encoding
try:
    west_bengal = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18_1900_NIC_FINAL_STATE_WEST_BENGAL-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    west_bengal = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18_1900_NIC_FINAL_STATE_WEST_BENGAL-2011.csv", encoding='windows-1252')

In [41]:
import pandas as pd

# Try reading with a different encoding
try:
    delhi = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_0700_NIC_FINAL_STATE_NCT_OF_DELHI-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    delhi = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_0700_NIC_FINAL_STATE_NCT_OF_DELHI-2011.csv", encoding='windows-1252')

In [42]:
import pandas as pd

# Try reading with a different encoding
try:
    jharkhand = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_2000_NIC_FINAL_STATE_JHARKHAND-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    jharkhand = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_2000_NIC_FINAL_STATE_JHARKHAND-2011.csv", encoding='windows-1252')

In [43]:
import pandas as pd

# Try reading with a different encoding
try:
    gujarat = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_2400_NIC_FINAL_STATE_GUJARAT-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    gujarat = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_2400_NIC_FINAL_STATE_GUJARAT-2011.csv", encoding='windows-1252')

In [44]:
import pandas as pd

# Try reading with a different encoding
try:
    maharashtra = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_2700_NIC_FINAL_STATE_MAHARASHTRA-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    maharashtra = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_2700_NIC_FINAL_STATE_MAHARASHTRA-2011.csv", encoding='windows-1252')

In [45]:
import pandas as pd

# Try reading with a different encoding
try:
    karnataka = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_2900_NIC_FINAL_STATE_KARNATAKA-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    karnataka = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_2900_NIC_FINAL_STATE_KARNATAKA-2011.csv", encoding='windows-1252')

In [47]:
import pandas as pd

# Try reading with a different encoding
try:
    goa = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_3000_NIC_FINAL_STATE_GOA-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    goa = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_3000_NIC_FINAL_STATE_GOA-2011.csv", encoding='windows-1252')

In [48]:
import pandas as pd

# Try reading with a different encoding
try:
    kerala = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_3200_NIC_FINAL_STATE_KERALA-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    kerala = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_3200_NIC_FINAL_STATE_KERALA-2011.csv", encoding='windows-1252')

In [49]:
import pandas as pd

# Try reading with a different encoding
try:
    tamilnadu = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_3300_NIC_FINAL_STATE_TAMIL_NADU-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    tamilnadu = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_3300_NIC_FINAL_STATE_TAMIL_NADU-2011.csv", encoding='windows-1252')

In [50]:
import pandas as pd

# Try reading with a different encoding
try:
    tamilnadu = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_3400_NIC_FINAL_STATE_PUDUCHERRY-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    tamilnadu = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18sc_3400_NIC_FINAL_STATE_PUDUCHERRY-2011.csv", encoding='windows-1252')

In [51]:
import pandas as pd

# Try reading with a different encoding
try:
    himachal_pradesh = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18st_0200_NIC_FINAL_STATE_HIMACHAL_PRADESH-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    himachal_pradesh = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18st_0200_NIC_FINAL_STATE_HIMACHAL_PRADESH-2011.csv", encoding='windows-1252')

In [52]:
import pandas as pd

# Try reading with a different encoding
try:
    uttarakhand = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18st_0500_NIC_FINAL_STATE_UTTARAKHAND-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    uttarakhand = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18st_0500_NIC_FINAL_STATE_UTTARAKHAND-2011.csv", encoding='windows-1252')

In [53]:
import pandas as pd

# Try reading with a different encoding
try:
    uttara_pradesh= pd.read_csv("C:/Users/Admin/Downloads/DDW_B18st_0900_NIC_FINAL_STATE_UTTAR_PRADESH-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    uttara_pradesh = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18st_0900_NIC_FINAL_STATE_UTTAR_PRADESH-2011.csv", encoding='windows-1252')

In [54]:
import pandas as pd

# Try reading with a different encoding
try:
    bihar= pd.read_csv("C:/Users/Admin/Downloads/DDW_B18st_1000_NIC_FINAL_STATE_BIHAR-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    bihar = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18st_0900_NIC_FINAL_STATE_UTTAR_PRADESH-2011.csv", encoding='windows-1252')

In [55]:
import pandas as pd

# Try reading with a different encoding
try:
    sikkim= pd.read_csv("C:/Users/Admin/Downloads/DDW_B18st_1100_NIC_FINAL_STATE_SIKKIM-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    sikkim = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18st_1100_NIC_FINAL_STATE_SIKKIM-2011.csv", encoding='windows-1252')

In [56]:
import pandas as pd

# Try reading with a different encoding
try:
    nagaland= pd.read_csv("C:/Users/Admin/Downloads/DDW_B18st_1300_NIC_FINAL_STATE_NAGALAND-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    nagaland = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18st_1300_NIC_FINAL_STATE_NAGALAND-2011.csv", encoding='windows-1252')

In [57]:
import pandas as pd

# Try reading with a different encoding
try:
    assam= pd.read_csv("C:/Users/Admin/Downloads/DDW_B18st_1800_NIC_FINAL_STATE_ASSAM-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    assam = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18st_1800_NIC_FINAL_STATE_ASSAM-2011.csv", encoding='windows-1252')

In [58]:
import pandas as pd

# Try reading with a different encoding
try:
    odisha= pd.read_csv("C:/Users/Admin/Downloads/DDW_B18st_2100_NIC_FINAL_STATE_ODISHA-2011.csv", encoding='ISO-8859-1')
except UnicodeDecodeError:
    odisha = pd.read_csv("C:/Users/Admin/Downloads/DDW_B18st_2100_NIC_FINAL_STATE_ODISHA-2011.csv", encoding='windows-1252')

In [60]:
import pandas as pd

# List to hold all the DataFrames
dataframes = []

# Function to read CSV with specified encodings
def read_csv_with_encoding(file_path):
    try:
        return pd.read_csv(file_path, encoding='ISO-8859-1')
    except UnicodeDecodeError:
        return pd.read_csv(file_path, encoding='windows-1252')

# List of file paths
file_paths = [
    "C:/Users/Admin/Downloads/DDW_B18_0800_NIC_FINAL_STATE_RAJASTHAN-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18_1200_NIC_FINAL_STATE_ARUNACHAL_PRADESH-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18_1400_NIC_FINAL_STATE_MANIPUR-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18_1500_NIC_FINAL_STATE_MIZORAM-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18_1900_NIC_FINAL_STATE_WEST_BENGAL-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18sc_0700_NIC_FINAL_STATE_NCT_OF_DELHI-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18sc_2000_NIC_FINAL_STATE_JHARKHAND-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18sc_2400_NIC_FINAL_STATE_GUJARAT-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18sc_2700_NIC_FINAL_STATE_MAHARASHTRA-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18sc_2900_NIC_FINAL_STATE_KARNATAKA-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18sc_3000_NIC_FINAL_STATE_GOA-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18sc_3200_NIC_FINAL_STATE_KERALA-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18sc_3300_NIC_FINAL_STATE_TAMIL_NADU-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18sc_3400_NIC_FINAL_STATE_PUDUCHERRY-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18st_0200_NIC_FINAL_STATE_HIMACHAL_PRADESH-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18st_0500_NIC_FINAL_STATE_UTTARAKHAND-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18st_0900_NIC_FINAL_STATE_UTTAR_PRADESH-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18st_1000_NIC_FINAL_STATE_BIHAR-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18st_1100_NIC_FINAL_STATE_SIKKIM-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18st_1300_NIC_FINAL_STATE_NAGALAND-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18st_1800_NIC_FINAL_STATE_ASSAM-2011.csv",
    "C:/Users/Admin/Downloads/DDW_B18st_2100_NIC_FINAL_STATE_ODISHA-2011.csv",
]

# Read each file and append DataFrame to the list
for file_path in file_paths:
    df = read_csv_with_encoding(file_path)  # Use file_path here
    dataframes.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_data = pd.concat(dataframes, ignore_index=True)

# Check the combined DataFrame
print(combined_data.info())
print(combined_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193124 entries, 0 to 193123
Data columns (total 25 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   State Code                           193124 non-null  object
 1   District Code                        193124 non-null  object
 2   India/States                         193124 non-null  object
 3   Division                             193124 non-null  object
 4   Group                                193124 non-null  object
 5   Class                                193124 non-null  object
 6   NIC Name                             193124 non-null  object
 7   Main Workers - Total -  Persons      193124 non-null  int64
 8   Main Workers - Total - Males         193124 non-null  int64
 9   Main Workers - Total - Females       193124 non-null  int64
 10  Main Workers - Rural -  Persons      193124 non-null  int64
 11  Main Workers - Rural - Males         193124 non-null  int64
 12  Main Workers - Rural - Females       193124 non-null  int64
 13  Main Workers - Urban -  Persons      193124 non-null  int64
 14  Main Workers - Urban - Males         193124 non-null  int64
 15  Main Workers - Urban - Females       193124 non-null  int64
 16  Marginal Workers - Total -  Persons  193124 non-null  int64
 17  Marginal Workers - Total - Males     193124 non-null  int64
 18  Marginal Workers - Total - Females   193124 non-null  int64
 19  Marginal Workers - Rural -  Persons  193124 non-null  int64
 20  Marginal Workers - Rural - Males     193124 non-null  int64
 21  Marginal Workers - Rural - Females   193124 non-null  int64
 22  Marginal Workers - Urban -  Persons  193124 non-null  int64
 23  Marginal Workers - Urban - Males     193124 non-null  int64
 24  Marginal Workers - Urban - Females   193124 non-null  int64
dtypes: int64(18), object(7)
memory usage: 36.8+ MB
None
  State Code District Code       India/States Division Group  Class  \
0        `08          `000  STATE - RAJASTHAN      `00  `000  `0000
1        `08          `000  STATE - RAJASTHAN      `01  `000  `0000
2        `08          `000  STATE - RAJASTHAN      `01  `011  `0000
3        `08          `000  STATE - RAJASTHAN      `01  `011  `0111
4        `08          `000  STATE - RAJASTHAN      `01  `011  `0112

                                            NIC Name  \
0                                              Total
1  Crop and animal production, hunting and relate...
2                     Growing of non-perennial crops
3  Growing of cereals (except rice), leguminous c...
4                                    Growing of rice

   Main Workers - Total -  Persons  Main Workers - Total - Males  \
0                          9017944                       7594737
1                           450766                        201572
2                            12876                         10547
3                            12061                          9911
4                               79                            71

   Main Workers - Total - Females  ...  Main Workers - Urban - Females  \
0                         1423207  ...                          618445
1                          249194  ...                           19810
2                            2329  ...                            1013
3                            2150  ...                             942
4                               8  ...                               2

   Marginal Workers - Total -  Persons  Marginal Workers - Total - Males  \
0                              2307752                           1046813
1                               408728                             76106
2                                 9562                              4051
3                                 9085                              3883
4                                   13                                 4

   Marginal Workers - Total - Females  Marginal Workers - Rural -  Persons  \
0                             1260939                              1825830
1                              332622                               390864
2                                5511                                 8147
3                                5202                                 7777
4                                   9                                   11

   Marginal Workers - Rural - Males  Marginal Workers - Rural - Females  \
0                            749381                             1076449
1                             71124                              319740
2                              3295                                4852
3                              3161                                4616
4                                 2                                   9

   Marginal Workers - Urban -  Persons  Marginal Workers - Urban - Males  \
0                               481922                            297432
1                                17864                              4982
2                                 1415                               756
3                                 1308                               722
4                                    2                                 2

   Marginal Workers - Urban - Females
0                              184490
1                               12882
2                                 659
3                                 586
4                                   0

[5 rows x 25 columns]

In [62]:
# Specify the output file path
output_file_path = "C:/Users/Admin/Downloads/allstatecombined_data.csv"

# Save the combined DataFrame to a CSV file
combined_data.to_csv(output_file_path, index=False)

print(f"Combined data saved to {output_file_path}")

Combined data saved to C:/Users/Admin/Downloads/allstatecombined_data.csv

In [63]:
pd.set_option("display.max_columns", None)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12047 entries, 0 to 12046
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   State Code                           12047 non-null  object
 1   District Code                        12047 non-null  object
 2   India/States                         12047 non-null  object
 3   Division                             12047 non-null  object
 4   Group                                12047 non-null  object
 5   Class                                12047 non-null  object
 6   NIC Name                             12047 non-null  object
 7   Main Workers - Total -  Persons      12047 non-null  int64
 8   Main Workers - Total - Males         12047 non-null  int64
 9   Main Workers - Total - Females       12047 non-null  int64
 10  Main Workers - Rural -  Persons      12047 non-null  int64
 11  Main Workers - Rural - Males         12047 non-null  int64
 12  Main Workers - Rural - Females       12047 non-null  int64
 13  Main Workers - Urban -  Persons      12047 non-null  int64
 14  Main Workers - Urban - Males         12047 non-null  int64
 15  Main Workers - Urban - Females       12047 non-null  int64
 16  Marginal Workers - Total -  Persons  12047 non-null  int64
 17  Marginal Workers - Total - Males     12047 non-null  int64
 18  Marginal Workers - Total - Females   12047 non-null  int64
 19  Marginal Workers - Rural -  Persons  12047 non-null  int64
 20  Marginal Workers - Rural - Males     12047 non-null  int64
 21  Marginal Workers - Rural - Females   12047 non-null  int64
 22  Marginal Workers - Urban -  Persons  12047 non-null  int64
 23  Marginal Workers - Urban - Males     12047 non-null  int64
 24  Marginal Workers - Urban - Females   12047 non-null  int64
dtypes: int64(18), object(7)
memory usage: 2.3+ MB

In [65]:
df.dtypes

State Code                             object
District Code                          object
India/States                           object
Division                               object
Group                                  object
Class                                  object
NIC Name                               object
Main Workers - Total -  Persons         int64
Main Workers - Total - Males            int64
Main Workers - Total - Females          int64
Main Workers - Rural -  Persons         int64
Main Workers - Rural - Males            int64
Main Workers - Rural - Females          int64
Main Workers - Urban -  Persons         int64
Main Workers - Urban - Males            int64
Main Workers - Urban - Females          int64
Marginal Workers - Total -  Persons     int64
Marginal Workers - Total - Males        int64
Marginal Workers - Total - Females      int64
Marginal Workers - Rural -  Persons     int64
Marginal Workers - Rural - Males        int64
Marginal Workers - Rural - Females      int64
Marginal Workers - Urban -  Persons     int64
Marginal Workers - Urban - Males        int64
Marginal Workers - Urban - Females      int64
dtype: object

In [66]:
df.isnull().sum().tolist()

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [67]:
# Get the count of missing values for each column
missing_value_counts = df.isnull().sum()

# Filter out columns with no missing values
missing_columns = missing_value_counts[missing_value_counts > 0]

# Display the column names and their missing value counts
missing_columns

Series([], dtype: int64)

In [68]:
import pandas as pd
import numpy as np

# Assuming df is your DataFrame
# Load your DataFrame
# df = pd.read_csv('your_data.csv')

# Handling numerical columns
numerical_cols = df.select_dtypes(include=[np.number]).columns
for col in numerical_cols:
    if df[col].dtype == 'float64':
        # Use mean for float columns
        df[col].fillna(df[col].mean(), inplace=True)
    elif df[col].dtype == 'int64':
        # Use median for int columns
        df[col].fillna(df[col].median(), inplace=True)

# Handling categorical columns
categorical_cols = df.select_dtypes(include=[object]).columns
for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

# Check the DataFrame after filling missing values
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12047 entries, 0 to 12046
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   State Code                           12047 non-null  object
 1   District Code                        12047 non-null  object
 2   India/States                         12047 non-null  object
 3   Division                             12047 non-null  object
 4   Group                                12047 non-null  object
 5   Class                                12047 non-null  object
 6   NIC Name                             12047 non-null  object
 7   Main Workers - Total -  Persons      12047 non-null  int64
 8   Main Workers - Total - Males         12047 non-null  int64
 9   Main Workers - Total - Females       12047 non-null  int64
 10  Main Workers - Rural -  Persons      12047 non-null  int64
 11  Main Workers - Rural - Males         12047 non-null  int64
 12  Main Workers - Rural - Females       12047 non-null  int64
 13  Main Workers - Urban -  Persons      12047 non-null  int64
 14  Main Workers - Urban - Males         12047 non-null  int64
 15  Main Workers - Urban - Females       12047 non-null  int64
 16  Marginal Workers - Total -  Persons  12047 non-null  int64
 17  Marginal Workers - Total - Males     12047 non-null  int64
 18  Marginal Workers - Total - Females   12047 non-null  int64
 19  Marginal Workers - Rural -  Persons  12047 non-null  int64
 20  Marginal Workers - Rural - Males     12047 non-null  int64
 21  Marginal Workers - Rural - Females   12047 non-null  int64
 22  Marginal Workers - Urban -  Persons  12047 non-null  int64
 23  Marginal Workers - Urban - Males     12047 non-null  int64
 24  Marginal Workers - Urban - Females   12047 non-null  int64
dtypes: int64(18), object(7)
memory usage: 2.3+ MB
None

C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_6348\3469120906.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [69]:
# Drop duplicate rows
df.drop_duplicates(inplace=True)

# Reset the index in place
df.reset_index(drop=True, inplace=True)

# Check the DataFrame to confirm the changes
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12047 entries, 0 to 12046
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   State Code                           12047 non-null  object
 1   District Code                        12047 non-null  object
 2   India/States                         12047 non-null  object
 3   Division                             12047 non-null  object
 4   Group                                12047 non-null  object
 5   Class                                12047 non-null  object
 6   NIC Name                             12047 non-null  object
 7   Main Workers - Total -  Persons      12047 non-null  int64
 8   Main Workers - Total - Males         12047 non-null  int64
 9   Main Workers - Total - Females       12047 non-null  int64
 10  Main Workers - Rural -  Persons      12047 non-null  int64
 11  Main Workers - Rural - Males         12047 non-null  int64
 12  Main Workers - Rural - Females       12047 non-null  int64
 13  Main Workers - Urban -  Persons      12047 non-null  int64
 14  Main Workers - Urban - Males         12047 non-null  int64
 15  Main Workers - Urban - Females       12047 non-null  int64
 16  Marginal Workers - Total -  Persons  12047 non-null  int64
 17  Marginal Workers - Total - Males     12047 non-null  int64
 18  Marginal Workers - Total - Females   12047 non-null  int64
 19  Marginal Workers - Rural -  Persons  12047 non-null  int64
 20  Marginal Workers - Rural - Males     12047 non-null  int64
 21  Marginal Workers - Rural - Females   12047 non-null  int64
 22  Marginal Workers - Urban -  Persons  12047 non-null  int64
 23  Marginal Workers - Urban - Males     12047 non-null  int64
 24  Marginal Workers - Urban - Females   12047 non-null  int64
dtypes: int64(18), object(7)
memory usage: 2.3+ MB
None

In [70]:
df.isnull().sum()

State Code                             0
District Code                          0
India/States                           0
Division                               0
Group                                  0
Class                                  0
NIC Name                               0
Main Workers - Total -  Persons        0
Main Workers - Total - Males           0
Main Workers - Total - Females         0
Main Workers - Rural -  Persons        0
Main Workers - Rural - Males           0
Main Workers - Rural - Females         0
Main Workers - Urban -  Persons        0
Main Workers - Urban - Males           0
Main Workers - Urban - Females         0
Marginal Workers - Total -  Persons    0
Marginal Workers - Total - Males       0
Marginal Workers - Total - Females     0
Marginal Workers - Rural -  Persons    0
Marginal Workers - Rural - Males       0
Marginal Workers - Rural - Females     0
Marginal Workers - Urban -  Persons    0
Marginal Workers - Urban - Males       0
Marginal Workers - Urban - Females     0
dtype: int64

In [71]:
# Calculate the percentage of non-null values for each column
percentage_non_null = (df.notnull().sum() / len(df)) * 100

# Print the percentage of non-null values for each column
for column, percentage in percentage_non_null.items():
    print(f"Percentage of non-null values in '{column}': {percentage:.2f}%")

Percentage of non-null values in 'State Code': 100.00%
Percentage of non-null values in 'District Code': 100.00%
Percentage of non-null values in 'India/States': 100.00%
Percentage of non-null values in 'Division': 100.00%
Percentage of non-null values in 'Group': 100.00%
Percentage of non-null values in 'Class': 100.00%
Percentage of non-null values in 'NIC Name': 100.00%
Percentage of non-null values in 'Main Workers - Total -  Persons': 100.00%
Percentage of non-null values in 'Main Workers - Total - Males': 100.00%
Percentage of non-null values in 'Main Workers - Total - Females': 100.00%
Percentage of non-null values in 'Main Workers - Rural -  Persons': 100.00%
Percentage of non-null values in 'Main Workers - Rural - Males': 100.00%
Percentage of non-null values in 'Main Workers - Rural - Females': 100.00%
Percentage of non-null values in 'Main Workers - Urban -  Persons': 100.00%
Percentage of non-null values in 'Main Workers - Urban - Males': 100.00%
Percentage of non-null values in 'Main Workers - Urban - Females': 100.00%
Percentage of non-null values in 'Marginal Workers - Total -  Persons': 100.00%
Percentage of non-null values in 'Marginal Workers - Total - Males': 100.00%
Percentage of non-null values in 'Marginal Workers - Total - Females': 100.00%
Percentage of non-null values in 'Marginal Workers - Rural -  Persons': 100.00%
Percentage of non-null values in 'Marginal Workers - Rural - Males': 100.00%
Percentage of non-null values in 'Marginal Workers - Rural - Females': 100.00%
Percentage of non-null values in 'Marginal Workers - Urban -  Persons': 100.00%
Percentage of non-null values in 'Marginal Workers - Urban - Males': 100.00%
Percentage of non-null values in 'Marginal Workers - Urban - Females': 100.00%

In [72]:
# Assuming your DataFrame is named df
numeric_columns = df.select_dtypes(include=['int64', 'float64']).columns
skewness = df[numeric_columns].skew()

# Display skewness values
print(skewness)

Main Workers - Total -  Persons        82.590423
Main Workers - Total - Males           81.535897
Main Workers - Total - Females         77.437463
Main Workers - Rural -  Persons        82.436301
Main Workers - Rural - Males           81.531510
Main Workers - Rural - Females         75.311102
Main Workers - Urban -  Persons        77.796336
Main Workers - Urban - Males           77.168489
Main Workers - Urban - Females         74.628525
Marginal Workers - Total -  Persons    70.337110
Marginal Workers - Total - Males       72.157135
Marginal Workers - Total - Females     63.609055
Marginal Workers - Rural -  Persons    69.195012
Marginal Workers - Rural - Males       71.651246
Marginal Workers - Rural - Females     62.166369
Marginal Workers - Urban -  Persons    70.630561
Marginal Workers - Urban - Males       70.144781
Marginal Workers - Urban - Females     68.747972
dtype: float64

In [73]:
# Identify object columns
object_columns = df.select_dtypes(include=['object']).columns

# Convert object columns to categorical
df[object_columns] = df[object_columns].astype('category')

# Verify the changes
print(df.dtypes)

State Code                             category
District Code                          category
India/States                           category
Division                               category
Group                                  category
Class                                  category
NIC Name                               category
Main Workers - Total -  Persons           int64
Main Workers - Total - Males              int64
Main Workers - Total - Females            int64
Main Workers - Rural -  Persons           int64
Main Workers - Rural - Males              int64
Main Workers - Rural - Females            int64
Main Workers - Urban -  Persons           int64
Main Workers - Urban - Males              int64
Main Workers - Urban - Females            int64
Marginal Workers - Total -  Persons       int64
Marginal Workers - Total - Males          int64
Marginal Workers - Total - Females        int64
Marginal Workers - Rural -  Persons       int64
Marginal Workers - Rural - Males          int64
Marginal Workers - Rural - Females        int64
Marginal Workers - Urban -  Persons       int64
Marginal Workers - Urban - Males          int64
Marginal Workers - Urban - Females        int64
dtype: object

In [74]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12047 entries, 0 to 12046
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   State Code                           12047 non-null  category
 1   District Code                        12047 non-null  category
 2   India/States                         12047 non-null  category
 3   Division                             12047 non-null  category
 4   Group                                12047 non-null  category
 5   Class                                12047 non-null  category
 6   NIC Name                             12047 non-null  category
 7   Main Workers - Total -  Persons      12047 non-null  int64
 8   Main Workers - Total - Males         12047 non-null  int64
 9   Main Workers - Total - Females       12047 non-null  int64
 10  Main Workers - Rural -  Persons      12047 non-null  int64
 11  Main Workers - Rural - Males         12047 non-null  int64
 12  Main Workers - Rural - Females       12047 non-null  int64
 13  Main Workers - Urban -  Persons      12047 non-null  int64
 14  Main Workers - Urban - Males         12047 non-null  int64
 15  Main Workers - Urban - Females       12047 non-null  int64
 16  Marginal Workers - Total -  Persons  12047 non-null  int64
 17  Marginal Workers - Total - Males     12047 non-null  int64
 18  Marginal Workers - Total - Females   12047 non-null  int64
 19  Marginal Workers - Rural -  Persons  12047 non-null  int64
 20  Marginal Workers - Rural - Males     12047 non-null  int64
 21  Marginal Workers - Rural - Females   12047 non-null  int64
 22  Marginal Workers - Urban -  Persons  12047 non-null  int64
 23  Marginal Workers - Urban - Males     12047 non-null  int64
 24  Marginal Workers - Urban - Females   12047 non-null  int64
dtypes: category(7), int64(18)
memory usage: 1.8 MB
None